Twitternt-ejb/build
Twitternt-ejb/dist
Twitternt-ejb/nbproject
Twitternt-ejb/setup
Twitternt-ejb/build.xml
Twitternt-ejb/src/conf

Twitternt-war/build
Twitternt-war/dist
Twitternt-war/nbproject
Twitternt-war/build.xml
Twitternt-war/src/conf
Twitternt-war/web/WEB-INF


/build.xml
/build
/dist
/nbproject
/src
